<section class="container">

    <h1 class="title-color pt-4 mb-4">
        Next Releases
    </h1>
    <div class="row">
        <div class="col-4 list-mh">
            <div class="row">
                <div class="col-12" *ngFor="let movie of movies">
                    <article class="list-movie-item mb-4" [class.selected]="movie === selectedMovie" (click)="onSelect(movie)">
                        <header>
                            <button class="btn-delete-movie" (click)="deleteMovie(movie)">
                                <fa-icon [icon]="faTrash"></fa-icon> 
                            </button>
                        </header>
                        <footer>
                            <h3>
                                {{movie.title}}
                            </h3>
                            <p>
                                Release Date: {{movie.releaseDate | date:'MM/dd/yyyy' }}
                            </p>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-8 bb-gray">
            <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
        </div>
    </div>
</section>