<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="home"><img src="assets/images/movie-app-logo.png" alt="Movies App Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link top-menu" routerLink="top-five" routerLinkActive="active-link"><fa-icon [icon]="faStar"></fa-icon> Top 5 Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-color ml-2" routerLink="add-movie" routerLinkActive="active-link-btn">Add Movie</a>
            </li>
        </ul>
    </div>
</nav>