<div class="row align-items-center h-100" *ngIf="movie">
    <div class="col-4">
        <div class="cover-image-detail">
            <img src="{{movie.coverImage}}" class="img-fluid">
        </div>
    </div>
    <div class="col-8 description-movie">
        <div>
            <h2 class="title-color">{{movie.title}}</h2>
            <p>{{movie.description}}</p>
            <span>Release Date: {{movie.releaseDate | date:'MM/dd/yyyy' }}</span>
        </div>
    </div>
</div>
<div class="row align-items-center h-100" *ngIf="!movie">
    <div class="col-12 text-center">
        <h2>SELECT A MOVIE</h2>
    </div>  
</div>