<section class="container">
    <div class="row pt-4">
        <div class="col-6 offset-3">
            <h1 class="title-color">
                Add New Movie
            </h1>
            <form class="content-white mb-5" (ngSubmit)="onSubmit(formDirective)" novalidate [formGroup]="addMovieForm" #formDirective="ngForm">
                <div class="p-4">
                    <div class="form-group mb-5">
                        <label>Title <span>*</span></label>
                        <input type="text" formControlName="title" class="form-control" placeholder="E.g: Project X" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" required>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label>Description</label>
                        <textarea class="form-control" formControlName="description"></textarea>
                    </div>
                    <div class="form-group mb-5">
                        <label>Release Date <span>*</span></label>
                        <div class="">
                            <input type="text" bsDatepicker class="form-control" placeholder="MM/DD/YYYY" formControlName="releaseDate" [ngClass]="{ 'is-invalid': submitted && f.releaseDate.errors }" required>
                            <div *ngIf="submitted && f.releaseDate.errors" class="invalid-feedback">
                                <div *ngIf="f.releaseDate.errors.required">Release date is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label>Cover Image <span>*</span></label>
                        <div class="">
                            <input type="file" accept="image/*" (change)="handleInputChange($event)" formControlName="coverImage" [ngClass]="{ 'is-invalid': submitted && f.coverImage.errors }"  required>
                        </div>
                        <div *ngIf="submitted && f.coverImage.errors" class="invalid-feedback">
                            <div *ngIf="f.coverImage.errors.required">Release date is required</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-color btn-full no-radius p-3">
                    Publish Movie
                </button>
            </form>
        </div>
    </div>
</section>
