@import 'variables.scss';

body{
    background-color: $dark-blue;
    color: $white;
    font-family: $primary-font;
}

//Header
.btn-color{
    background: $pink;
    color: $white;
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
    &:hover{
        color: $dark-blue;
    }
}

.btn-full{
    width: 100%;
}

.no-radius{
    border-radius: 0;
}

.active-link-btn{
    display: none;
}

.title-color{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 70px;
        height: 3px;
        background: $pink;
    }
}

.content-white{
    background: $white;
    border-radius: 5px;
    color: $dark-blue;
    overflow: hidden;
    label{
        font-size: 18px;
        span{
            color: $pink;
        }
    }
}

// Movies
.list-movie-item{
    position: relative;
    .btn-delete-movie{
        background: transparent;
        position: absolute;
        top: 3px;
        right: 0;
        border: none;
        color: $white;
        opacity: .2;
        transition: all .2s ease-in-out;
        &:focus{
            outline: none;
        }
        &:hover{
            opacity: 1;
        }
    }
    header{
        overflow: hidden;
        img{
            transition: all .2s ease-in-out;
        }
    }
    footer{
        padding: 15px;
        transition: all .2s ease-in-out;
        border: solid 1px rgba(255,255,255,.1);
        h3{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
            max-width: calc(100% - 35px);
            overflow: hidden;
            padding-left: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p{
            margin: 0;
            font-size: 13px;
        }
    }
    &:hover{
        cursor: pointer;
        footer{
            background: $pink;
        }
    }
}

.list-movie-item-full{
    position: relative;
    border: solid 1px rgba(255,255,255,.1);
    header{
        overflow: hidden;
        text-align: center;
        img{
            transition: all .2s ease-in-out;
        }
    }
    footer{
        padding: 15px;
        transition: all .2s ease-in-out;
        h3{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
            max-width: calc(100% - 35px);
            overflow: hidden;
            padding-left: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p{
            margin: 0;
            font-size: 13px;
        }
        .releaseDate{
            color: $pink
        }
        .description{
            margin-bottom: 5px;
        }
    }
}

.selected{
    background: rgb(230,18,86);
    background: -moz-linear-gradient(left,  rgba(230,18,86,1) 0%, rgba(224,117,17,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(230,18,86,1) 0%,rgba(224,117,17,1) 100%);
    background: linear-gradient(to right,  rgba(230,18,86,1) 0%,rgba(224,117,17,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61256', endColorstr='#e07511',GradientType=1 );
}

.list-mh{
    max-height: 545px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}
.cover-image-detail{
    position: relative;
    img{
        position: relative;
        z-index: 2;
    }
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 15px;
        left: 15px;
        border: solid 1px rgba(255,255,255,.1);
        z-index: 1;
    }
}
.description-movie{
    padding: 15px;
    h3{
        font-weight: 600;
        margin-top: 20px;
    }
    span{
        color: $pink;
    }
}

.bb-gray{
    border: solid 1px rgba(255,255,255,.1);
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $pink;
}

// Custom Boostrapt

@media(min-width: 1500px){
    .container{
        max-width: 1300px;
    }
}

.nav-item{
    .active-link{
        color: $pink !important;
    }
}

.navbar-dark{
    border-bottom: solid 1px rgba(255,255,255,.1);
    padding: 25px 30px;
    .navbar-brand{
        img{
            max-width: 260px;
            height: auto;
        }
    }
    .top-menu{
        fa-icon{
            color: $pink;
        }
    }
}

.form-control{
    border: none;
    border-bottom: solid 1px $dark-blue;
    border-radius: 0;
    &:focus{
        outline: none;
        border-color: $pink;
        box-shadow: none;
    }
}

.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: $pink;
}

.theme-green .bs-datepicker-body table td.week span {
    color: $pink;
}
