//Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500i,700&display=swap');
$primary-font: 'Poppins', sans-serif;

//Colors
$dark-blue: #080A30;
$pink :#E61256;
$white: #FFFFFF;
