<section class="container mt-5">
    <div class="row">
        <div class="col-12 col-xl-6 offset-xl-3">
            <div class="row">
                <div class="col-12 mb-4" *ngFor="let movie of movies">
                    <article class="list-movie-item-full row align-items-center h-100 pb-4 pt-4">
                        <header class="col-12 col-xl-4">
                            <img src='{{movie.image}}'>
                        </header>
                        <footer  class="col-12 col-xl-8">
                            <h3>
                                {{movie.title}}
                            </h3>
                            <p class="description">
                                {{movie.description}}
                            </p>
                            <p class="releaseDate">
                                Release Date: {{movie.release | date:'MM/dd/yyyy' }}
                            </p>
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>